html {
  background-image: url(assets/images/Main_Background.jpg);
  padding: 20px;
  font-family: "Roboto Flex", sans-serif;
  font-style: normal;
  
}

.hidden {
  display: none;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #38302e;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ccdad1;
  padding: 0 20px 20px 20px;
  border: 5px solid white;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #38302e;
}

h2 {
  margin: 0;
  padding: 20px 0;
  color: #38302e;
}

img {
  display: block;
  margin: 0 auto;
  width: 600px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;

  font-size: 16px;
  font-family: "Open Sans", sans-serif;

  background-color: #00539f;
  color: white;

  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: row; /* or column */
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  gap: 12px;
}

button:hover {
  background-color: #e15f0e;
}