.primary-palette{
  --blue:var(--blue-3);
  --Yellow:var(--yellow-3);
  --Red:var(--red-3);
}
.surface-colors{
  --bg1:var(--grey-1);
  --bg2:var(--black);
  --bg3:var(--white);
}

/* Accent */
:root {
  --accent1:var(--grey-3);
}

/* Text Colors */
:root {
  --primary:var(--black);
  --secondary: var(--grey-4);
}

/* Reds */
:root {
  --red-1: #ffced7;
  --red-2: #ff7590;
  --red-3: #fd2d55;
  --red-4: #e1002b;
  --red-5: #630013;
}

/* Blues */
:root {
  --blue-1: #a9daff;
  --blue-2: #53b5ff;
  --blue-3: #0090fe;
  --blue-4: #0063af;
  --blue-5: #003156;
}

/* Yellows */
:root {
  --yellow-1: #ffeeaa;
  --yellow-2: #ffe47b;
  --yellow-3: #fecb00;
  --yellow-4: #c8a92e;
  --yellow-5: #786e47;
}

/* Neutrals */
:root {
  --white: #ffffff;
  --grey-1: #f5f5f5;
  --grey-2: #d9d9d9;
  --grey-3: #a0a0a0;
  --grey-4: #4e4e4e;
  --black: #000000;
}

/* Theme Switch */
:root {
  --theme: true;
}
.typography{
  --textsize__fontsizetitle:96;
  --textsize__fontsizebody:16;
  --textsize__fontsizecaption:12;
  --textsize__fontsizexs:14;
  --textsize__fontsizes:18;
  --textsize__fontsizem:48;
  --textsize__fontsizel:28;
  --textsize__fontsizexl:36;
  --textsize__fontsizexxl:48;
  --textweight__fontweight300:Light;
  --textweight__fontweight400:Regular;
  --textweight__fontweight500:Medium;
  --textweight__fontweight600:SemiBold;
  --textweight__fontweight700:Bold;
  --fontfamily__display:Josefin Sans;
  --fontfamily__body:Gothic A1;
  --fontfamily__header:Josefin Sans;
  --fontfamily__subheader:Josefin Sans;
  --fontfamily__caption:Gothic A1;
}

/* Spacing */
:root {
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 40px;
  --spacing-xxl: 56px;
  --spacing-xxxl: 72px;
}